.search-header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: $z-index-100;
	height: $header-height;
	background-color: $white;

	&__input {
		min-width: 420px;
		padding: $spacer-2;
	}
}
